<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature android:name="android.hardware.sensor.accelerometer"/>
    <uses-feature android:required="false" android:name="android.hardware.bluetooth"/>
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BasicUI"
        tools:targetApi="32">
        <service android:name=".ClockService"/>
        <receiver
            android:name=".SMSReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".BroadCastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
            </intent-filter>
        </receiver>
        <activity android:name=".Practical23" android:exported="true"/>
        <activity android:name=".Practical4" android:exported="true"/>
        <activity android:name=".Practical5" android:exported="true"/>
        <activity android:name=".Practical6" android:exported="true"/>
        <activity android:name=".Practical7" android:exported="true"/>
        <activity android:name=".Practical8" android:exported="true"/>
        <activity android:name=".Practical9" android:exported="true"/>
        <activity android:name=".Practical11" android:exported="true"/>
        <activity android:name=".Practical12" android:exported="true"/>
        <activity android:name=".Practical13" android:exported="true"/>
        <activity android:name=".Practical14" android:exported="true"/>
        <activity android:name=".Practical15" android:exported="true"/>
        <activity android:name=".Practical16" android:exported="true"/>
        <activity android:name=".Practical17" android:exported="true"/>
        <activity android:name=".Practical18" android:exported="true"/>
        <activity android:name=".Practical18b" android:exported="true"/>
        <activity android:name=".Practical19" android:exported="true"/>
        <activity android:name=".Practical20" android:exported="true"/>
        <activity android:name=".Practical21" android:exported="true"/>
        <activity android:name=".Practical22" android:exported="true"/>
        <activity android:name=".Practical24" android:exported="true"/>
        <activity android:name=".Practical25" android:exported="true"/>
        <activity android:name=".Practical26" android:exported="true"/>
        <activity android:name=".Practical28" android:exported="true"/>
        <activity android:name=".Practical29" android:exported="true"/>

    </application>
</manifest>